<% include ../partials/head %>
<body>
<% include ../partials/navbar %>
<div class="container mx-auto px-0" style="padding-top:6em; padding-bottom:2em;">
  <div class="bs-docs-section">
    
    <div class="page-header">
      <header id="header">
        <h3>Tőzsde</h3>
        <%# <h4> %>
          <div class="d-lg-none">
          <% var setLinks = []; %>
          <% problemsets.forEach( e => { %>
            <!--<button type="button" class="btn btn-link">Link</button>-->
            <% setLinks.push(`<a href="#set_${e.id}">${e.title}</a>`) %>
          <% }); %>
          <%- setLinks.join(', '); %>
          </div>
        <%# </h4> %>
      </header>
    </div>
    <div id="errDiv">
      <% if (message.length > 0) { %>
        <!-- <div class="alert alert-danger"><%- message %></div>-->
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <!--<strong>Oh snap!</strong><a href="#" class="alert-link">Change a few things up</a> and try submitting again.-->
          <strong>Hiba!</strong> <%- message %>
        </div>
      <% }; %>
    </div>
    <div class="row justify-content-center" style="padding-top:1em">


      <div class="col-lg-9">

        <% const columns = 3; %>

        <% for(let setIndex=1; setIndex<=problemsets.length; setIndex++) { %>
          
          <% let problemset = problemsets[setIndex-1]; %>
          <% let problems = problemset.Problems; %>
          <% let rowsPerSet = ((problems.length - 1) - ((problems.length - 1) % columns)) / columns + 1;%>
          <%# console.log(rowsPerSet); %>

          <h4 id="set_<%=problemset.id%>"><%=problemset.title%> <!--(<%=rowsPerSet%> sorban)--></h4>
          <hr class="my-3">
          
          <%# let n=0; %>
          <% for(let rowIndex=1; rowIndex<=rowsPerSet; rowIndex++) { %>

            <div class="row">
            
            <% let cardsInRow = Math.min(columns, problems.length - (rowIndex-1)*columns); %>
            <% for (let columnIndex = 1; columnIndex <= cardsInRow; columnIndex++) { %>

              <% let currentProblem = problems[(rowIndex-1)*columns+(columnIndex-1)]; %>
              <%# console.log(currentProblem.title);%>
              <div class="col-sm-<%=12/columns%>">
                <div id="card_<%=currentProblem.id%>" class="card border-info mb-3 mx-auto" style="max-width:18rem;border-color:grey!important;">
                  <h5 id="header_<%=currentProblem.id%>" class="card-header" style="color:grey;">
                    <i style="float:right;" class="material-icons">lock</i>
                    Zárolva
                  </h5>
                  <div class="card-body">
                    <div class="container-fluid">
                    <div class="row">
                      <div class="col-1" style="padding:0px;display:inline-block;">
                      </div>
                      <div class="col-10" style="padding:0px;display:inline-block;">
                        <h5 id="title_<%=currentProblem.id%>" class="card-title text-center" style="color:darkgrey;padding:0px!important;"><strong><%=currentProblem.title%></strong></h5>
                      </div>
                      <div class="col-1" style="padding:0px;display:inline-block;">
                        <p id="credit_<%=currentProblem.id%>" class="card-text text-right" style="white-space: nowrap;"><strong></strong></p>
                      </div>
                    </div>
                    </div>
                    <p id="things_<%=currentProblem.id%>" hidden class="card-text text-center">
                    <span id="topic_<%=currentProblem.id%>" class="badge badge-info"></span></p>
                    <div id="button_<%=currentProblem.id%>" class="text-center"><!--<a href="#" class="btn btn-info disabled" style="/*background-color:purple;border-color:purple;*/">Betöltés...</a>--></div>
                  </div>
                  <div hidden id="footer_<%=currentProblem.id%>" class="card-footer text-center">
                    <%# <strong> %>
                    <%#Hátralévő idő: 04:37>%>
                    <%# </strong> %>
                  </div>
                </div>
              </div>

            <% } %>

            <% cardsInRow %>
            </div>

          <% } %>
        
        <% } %>

      </div>
      
      <div class="col-lg-3">

        <div class="card text-white bg-primary mb-4 mx-auto" style="max-width: 18rem;">
          <div class="card-header"><%#team.name%>Csapatadatok</div>
          <div class="card-body">
            <h4 class="card-title"><%=team.name%></h4>
            <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
            <p class="card-text">Kreditek: <strong id="teamCredits"><%=team.credits%></strong></p>
            <%# <p class="card-text">Teljesített küldetések: <strong>4</strong></p> %>
            <p class="card-text">Csapattagok: <%=teamMembers.join(', ');%></p>
          </div>
        </div>
      
        <h4 class="text-center">Extra feladatok:</h4>
      
        <!--
        <div class="card border-primary mb-4 mx-auto" style="max-width:18rem;border-color:purple!important;">
          <h5 class="card-header" style="color:purple;">
            <i style="float:right;" class="material-icons">grade</i>
            Új extra feladat!
          </h5>
          <div class="card-body">
            <div class="container-fluid">
            <div class="row">
              <div class="col-1" style="padding:0px;display:inline-block;">
                <%# <i class="material-icons">alarm</i> %>
              </div>
              <div class="col-10" style="padding:0px;display:inline-block;">
                <h5 class="card-title text-center" style="color:purple;padding:0px!important;"><strong>Kecske Gerda operában</strong></h5>
              </div>
              <div class="col-1" style="padding:0px;display:inline-block;">
                <%# <i style="float:right;" class="material-icons">lock</i> %>
                <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
              </div>
            </div>
            </div>
            <p class="card-text text-center">
            <span class="badge badge-info">számelmélet</span>
            <div class="text-center"><a href="#" class="btn btn-info" style="background-color:purple;border-color:purple;">Ugrás a feladatra</a></div>
          </div>
          <div class="card-footer-primary text-center">
            <%# <strong> %>
            Hátralévő idő: 04:37
            <%# </strong> %>
          </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="max-width:18rem;border-color:#daf794!important;">
          <h5 class="card-header" style="/*color:#daf794;*/">
            <i style="float:right;" class="material-icons">lock_open</i>
            Új extra feladat!
          </h5>
          <div class="card-body">
            <div class="container-fluid">
            <div class="row">
              <div class="col-1" style="padding:0px;display:inline-block;">
                <i class="material-icons">lock_open</i>
              </div>
              <div class="col-10" style="padding:0px;display:inline-block;">
                <h5 class="card-title text-center" style="color:#daf794;padding:0px!important;"><strong>Csenge bálázik haaa</strong></h5>
              </div>
              <div class="col-1" style="padding:0px;display:inline-block;">
                <%# <i style="float:right;" class="material-icons">lock</i> %>
                <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
              </div>
            </div>
            </div>
            <p class="card-text text-center">
            <%# <span class="badge badge-info">kombinatorika</span> %>
            <div class="text-center"><a href="#" class="btn btn-info" style="background-color:#daf794;border-color:#daf794;">Ugrás a feladatra</a></div>
          </div>
          <div class="card-footer text-center">
            <%# <strong> %>
            Hátralévő idő: 04:37
            <%# </strong> %>
          </div>
        </div>-->


      </div>
    </div>
  </div>
</div>

<script src="/static/moment-with-locales.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/javascript/stock-exchange.js"></script>

</body>